ADMIN_ORIGIN=https://invites-betipo-tools.monteserin.dev
ADMIN_USERNAME=admin
ADMIN_PASSWORD=

LOGTO_ENDPOINT=https://auth-betipo-tools.monteserin.dev
LOGTO_M2M_APP_ID=
LOGTO_M2M_APP_SECRET=

BETIPO_APP_URL=https://betipo-tools.monteserin.dev

RESEND_API_KEY=
RESEND_FROM=Betipo Tools <invitaciones@notifications.monteserin.dev>
RESEND_REPLY_TO=
