---
import Layout from "../layouts/Layout.astro";
import DashboardTabs from "../components/DashboardTabs";
---

<Layout>
  <div class="mx-auto max-w-[1200px] px-4 py-10">
    <DashboardTabs client:load />
  </div>
</Layout>
