---
export const prerender = false;

import AuthLayout from "../layouts/AuthLayout.astro";
import { SignIn } from "@clerk/astro/components";
---

<AuthLayout>
  <div class="flex min-h-[80vh] items-center justify-center px-4">
    <SignIn />
  </div>
</AuthLayout>
