---
export const prerender = false;

import Layout from "../layouts/Layout.astro";
import { SignIn } from "@clerk/astro/components";
---

<Layout>
  <div class="flex min-h-[80vh] items-center justify-center px-4">
    <SignIn />
  </div>
</Layout>
